body{
    background-color: #202020;
}
h1{
    color: white;
}
label{
    color: white;
}
#PATCHassignTaskToUser{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}
.selectUser{
    color: white;
    grid-column: 2;
    grid-row: 2;
}

.selectTask{
    color: white;
    grid-column: 2;
    grid-row: 3;
}
.submitTask{
    grid-column: 2;
    grid-row: 4;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
.container > div{
    background: grey;
    padding: 1em;
}